{% extends "base/base.html" %}

{% block title %}Vehicles{% endblock %}

{% block content %}
    <table border="1">
        <thead>
        <tr>
            <th>ID</th>
            <th>Vehicle</th>
            <th>Started At</th>
            <th>Km Length</th>
            <th>Driver</th>
            <th>Passengers</th>
        </tr>
        </thead>
        <tbody>
        {% for object in object_list %}
            <tr>
                <td><a href="{{ object.get_absolute_url }}">{{ object.id }}</a></td>
                <td><a href="{{ object.vehicle.get_absolute_url }}">{{ object.vehicle }}</a></td>
                <td>{{ object.started_at }}</td>
                <td>{{ object.km_length }}</td>
                <td>{{ object.driver }}</td>
                <td>{{ object.passengers_display }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

