{% extends "base/base.html" %}

{% block title %}Passengers Stats{% endblock %}

{% block content %}
    <h2>How many kilometers each passenger has travelled in each car (as both passenger and driver)</h2>
    <table border="1">
        <thead>
        <tr>
            {% for col in stats_table.columns %}
                <th>{{ col }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for row in stats_table.rows %}
            <tr>
                {% for x in row %}
                    <td>{{ x|default_if_none:"-" }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

