{% extends "base/base.html" %}

{% block title %}Vehicles{% endblock %}

{% block content %}
    <table border="1">
        <thead>
        <tr>
            <th>ID</th>
            <th>Registration Number</th>
            <th>Total Km Length</th>
        </tr>
        </thead>
        <tbody>
        {% for object in object_list %}
            <tr>
                <td><a href="{{ object.get_absolute_url }}">{{ object.id }}</a></td>
                <td>{{ object.registration_number }}</td>
                <td>{{ object.total_km_length|default_if_none:"-" }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

