<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} - Travelling App</title>
</head>
<body>
<div>
    <a href="{% url 'vehicles' %}">Vehicles List</a>
    <a href="{% url 'vehicles--new' %}">New Vehicle</a>
    <a href="{% url 'journeys' %}">Journeys List</a>
    <a href="{% url 'journeys--new' %}">New Journey</a>
    <a href="{% url 'passengers-stats' %}">Passengers Stats</a>
</div>

{% block content %}
{% endblock %}
</body>
</html>